[submodule "genie/hugo-theme-console"]
	path = genie/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "genie/themes/hugo-theme-console"]
	path = genie/themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
[submodule "starmind/themes/ananke"]
	path = starmind/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "starmind/themes/hugo-theme-console"]
	path = starmind/themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
