<!-- BEGIN AADS AD UNIT 2429481 -->
<div id="aads-frame"
    style="width: 100%; margin: 16px auto; position: relative; z-index: 99998; background: transparent; overflow: hidden;">
    <iframe data-aa='2429481' src='//acceptable.a-ads.com/2429481/?size=Adaptive'
        style='border:0; padding:0; width:70%; height:auto; overflow:hidden; display:block; margin:auto; background:transparent;'></iframe>
</div>
<!-- END AADS AD UNIT 2429481 -->
<div class="footer">
    With intelligence and enthusiasm, anything is possible
</div>